@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: DanaBold;
    src: url("../public/fonts/IRANYekanX-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: DanaRegular;
    src: url("../fonts/IRANYekanX-Regular.ttf") format("truetype");
  }
}

@layer components {
  .btn {
    @apply text-blue-500 text-center;
  }
}
